* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}



/*.uf-card {
    background-color: bisque;
}

#intro-cards {
    margin-top: 20px;
}*/
* {
    color: rgb(0, 0, 0);
    text-align: right;
}

#footer {
    height: 290px;
    max-width: none;
    background-color: rgb(42, 42, 42);

}
